@use "./variables" as v;
@use "./mixins" as *;

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

.header-social {
    @include flexCenter(0px, v.$paddingBoxHeight);
    background-color: v.$secondPrimaryColor;
    //padding: 0px v.$paddingBoxHeight;

    .header-social-media .nav {
        @include flexCenter(0px, 0px);
        gap: 20px;

        .nav-link {
            @include hoverColor;
            @include flexCenter(7px, 7px);
            justify-content: center;
            background-color: v.$firstPrimaryColor;
            //padding: 7px;
            border-radius: 100%;
            border: 1px solid v.$firstPrimaryColor;
            
            i {
                font-size: v.$navFontSize;
            }
        }
    }

    .header-social-info {
        a {
            color: v.$firstPrimaryColor;
        }
    }
}

.header {
    @include flexCenter(v.$paddingBoxHeight, v.$paddingBoxWidth);
    background-color: v.$firstPrimaryColor;
    flex-wrap: wrap;
    color: v.$primayFontColor;

    // Navigation bar
    .mian-nav {
        .nav .nav-item .nav-link{
            @include transitionLink;
            color: v.$primayFontColor;
            font-weight: bolder;
            font-size: v.$navFontSize;

            span {
                font-weight: lighter;
                margin-left: 10px;
            }
        }
    }

    .logo {
        img {
            height: 50px;
            cursor: pointer;
        }

        h1 {
            color: white;
            font-size: 24px;
        }
    }

    .header-search-menu {
        @include flexCenter(0px, 0px);
        gap: 40px;

        .search-icon button {
            @include nakedButton;

            i {
                @include iconFormat;
                cursor: pointer;

                &:hover {
                    color: v.$secondPrimaryColor;
                }
            }
        }

        .header-button .button {
            @include defaultButton;
        }

        .menu button {
            @include nakedButton;
            margin-right: 20px;

            i {
                @include iconFormat;
            }
        }
    }
}