@use "./mixins" as *;
@use "./variables" as v;


.main-slider {
    height: 90vh;
    .slide {
        width: 100%;

        .list {
            width: 100%;

            .carousel-item {
                height: 90vh;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: v.$firstPrimaryColor;
                    opacity: 60%;
                }

                .carousel-caption {
                    top: 150px;
                    @include flexCenter(0px, 0px);
                    flex-wrap: nowrap;
                    text-align: left;
                    justify-content: flex-start;
                    gap: 40px;
                    z-index: 1;
                    color: v.$primayFontColor;

                    .content-title {
                        width: 700px;
    
                        h5 {
                            font-size: v.$h5FontSize;
                            //color: v.$primayFontColor;
                        }
                        h2 {
                            font-size: 5em;
                        }
                        button {
                            @include defaultButton;
                            z-index: 10;
                            margin-top: 50px;
                        }
                    }
                    
                    .paragraph {
                        width: 700px;
                        flex-grow: 1;
                        margin-top: 50px;
                    }
                }
            }
        }

        .carousel-control-prev, .carousel-control-next{
            @include slideButton(v.$secondPrimaryColor, v.$primayFontColor);
            top: 40%;
            margin: v.$paddingMainWidth;
        }
    }
}

////////////////////////////////

.about-company {
    @include scrollAnimationFromLeft;
    background: url("../images/premium_photo-1667811951673-3b3e8d6742c7.avif");

    .about-comp {
        background-color: v.$firstPrimaryColor;
        opacity: 0.94;
        ////////////////////////////////
        @include textCase(v.$primayFontColor, null);
        padding: v.$paddingMainHeight v.$paddingMainWidth;

        
        .about-comp-des {
            h5 {
                font-size: v.$h5FontSize;
            }
            p {
                font-size: 3.2em;
                font-weight: bold;
                text-transform: none;
                font-stretch: expanded;
            }
        }

        .about-comp-stat {
            @include flexCenter(0px, 0px);
            margin-top: 100px;

            h4 {
                font-size: 4.3em;
            }
            p {
                font-size: 1.2em;
            }
        }
    }
}

.industry {
    .industry-service {
        padding: v.$paddingMainHeight v.$paddingMainWidth;
        .ind-header {
            color: v.$firstPrimaryColor;
            h5 {
                @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
            }
            .ind-header-title {
                @include flexCenter(null,  null);
                flex-wrap: wrap;
                h3 {
                    @include sectionTitle(v.$firstPrimaryColor, v.$sectionTitleSize);
                }
                .button {
                    @include defaultButton;
                }
            }
        }
        .ind-services {
            @include flexCenter(50px, 0px);
            align-content: flex-start;
            flex-wrap: wrap;
            gap: v.$flexGap v.$flexGap;
            align-items: flex-start;
            article .art-button {
                @include aritcleButton;
            }
            article:nth-of-type(1) {
                @include articleService('https://plus.unsplash.com/premium_photo-1661909058836-f81511ec8825?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            }
            article:nth-of-type(2) {
                @include articleService('https://images.unsplash.com/photo-1678532685208-54acdd41187d?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
            }
            article:nth-of-type(3) {
                @include articleService('https://images.unsplash.com/photo-1548945359-6a13700d1135?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            }
            article:nth-of-type(4) {
                @include articleService('https://images.unsplash.com/photo-1564182842834-681b7be6de4b?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            }
        }
    }

    .industry-info {
        padding: null v.$paddingMainWidth;

        .ind-info-base {
            @include flexCenter(null, null);
            flex-wrap: wrap ;
            align-items: stretch;
            gap: v.$flexGap v.$flexGap;
            margin-top: -60px;
            .ind-info-video {
                flex-basis: 500px;
                flex-grow: 1;
                display: flex;
                video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                /*
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-image: linear-gradient(
                        to top, v.$firstPrimaryColor 40%, transparent
                    );
                    opacity: 0.5;
                    z-index: 2;
                }*/

                #mute-unmute-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    filter: blur(10px);
                    cursor: pointer;
                    color: v.$primayFontColor;
                    width: 40px;
                    height: 40px;
                    border: 1px solid v.$primayFontColor;
                    //position: absolute;
                    z-index: 1;
                }
            }

            .ind-info-header {
                padding: v.$paddingBoxHeight + 30 0 v.$paddingBoxWidth + 30 0;
                flex-basis: 500px;
                flex-grow: 1;
                h5 {
                    @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
                }
                .ind-info-head-title {
                    h3 {
                        @include sectionTitle(v.$firstPrimaryColor, v.$sectionTitleSize);
                    }
                    p {
                        @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
                        text-transform: none; 
                    }
                }
                .ind-info-list {
                    @include flexCenter(20px, null);
                    justify-content: flex-start;
                    gap: 40px;
                }
                .ind-info-more {
                    @include flexCenter(20px, null);
                    .button {
                        i {
                            margin-right: 5px;
                        }
                        @include defaultButton;
                    }
                    .ind-info-more-call {
                        color: v.$firstPrimaryColor;
                    }
                }
            }
        }
    }
}

.team {
    padding: v.$paddingMainHeight v.$paddingMainWidth;

    .team-header {
        @include flexCenter(0px, 0px);
        flex-wrap: wrap;

        .team-header-title {
            width: 550px;

            h5 {
                @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
            }
            h3 {
                @include sectionTitle(v.$firstPrimaryColor, v.$sectionTitleSize);
            }
        }
        
        .team-header-desc {
            width: 650px;

            .team-desc-button {
                @include flexCenter(0px, 0px);
                gap: 2px;
                button {
                    @include activeButton;
                }
                .active {
                    background-color: v.$secondPrimaryColor;
                    color: v.$firstPrimaryColor;
                }
            }

            .team-desc-text {
                @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
                text-transform: none;
                margin-top: 40px;
            }
        }
    }

    .team-members {
        @include flexCenter(v.$paddingMainHeight, 0px);
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        .team-member {
            //flex-basis: 300px;
            width: 350px;
            height: 500px;

            .team-member-img {
                img {
                    width: 100%;
                    height: 410px;
                    object-fit: cover;
                    object-position: top;
                }
                
                .team-member-social {
                    position: absolute;
                    width: 350px;
                    margin-top: -60px;
                    background-color: v.$secondPrimaryColor;
                    height: 60px;
                    @include flexCenter(0px, 0px);
                    justify-content: center;
                    gap: 20px;
                    a {
                        color: v.$firstPrimaryColor;
                        font-size: 1em;

                        &:hover {
                            opacity: .4;
                            transition: v.$transition;
                        }
                    }
                }
            }

            .team-member-info {
                text-align: center;
                padding-top: 10px;
                h5 {
                    @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
                }
                h4 {
                    @include sectionTitle(v.$firstPrimaryColor, v.$h5FontSize + .6em);
                    text-transform: none;
                }
            }
        }
    }
}