@use "./mixins" as *;
@use "./variables" as v;

.main-slide {
    height: 90vh;
    position: relative;
    
    .list {

        .item {
            position: absolute;
            inset: 0 0 0 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: v.$firstPrimaryColor;
                opacity: 60%;
            }

            .content {
                position: absolute;
                @include flexCenter(v.$paddingMainWidth, null);
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 40px;
                top: 20%;
                max-width: 80%;
                z-index: 1;
                color: v.$primayFontColor;

                .content-title {
                    @include scrollAnimationFromLeft;

                    h5 {
                        font-size: v.$h5FontSize;
                        //color: v.$primayFontColor;
                    }
                    h2 {
                        font-size: 5em;
                    }
                    button {
                        @include defaultButton;
                    }
                }
                
                p {
                    flex-basis: 300px;
                    flex-grow: 1;
                    width: 40%;
                }
            }
        }
    }
}

////////////////////////////////

.about-company {
    @include scrollAnimationFromLeft;
    background: url("../images/premium_photo-1667811951673-3b3e8d6742c7.avif");

    .about-comp {
        background-color: v.$firstPrimaryColor;
        opacity: 0.94;
        ////////////////////////////////
        @include textCase(v.$primayFontColor, null);
        padding: v.$paddingMainHeight v.$paddingMainWidth;

        
        .about-comp-des {
            h5 {
                font-size: v.$h5FontSize;
            }
            p {
                font-size: 3.2em;
                font-weight: bold;
                text-transform: none;
                font-stretch: expanded;
            }
        }

        .about-comp-stat {
            @include flexCenter(0px, 0px);
            margin-top: 100px;

            h4 {
                font-size: 4.3em;
            }
            p {
                font-size: 1.2em;
            }
        }
    }
}

.industry {
    .industry-service {
        padding: v.$paddingMainHeight v.$paddingMainWidth;
        .ind-header {
            color: v.$firstPrimaryColor;
            h5 {
                @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
            }
            .ind-header-title {
                @include flexCenter(null,  null);
                flex-wrap: wrap;
                h3 {
                    @include sectionTitle(v.$firstPrimaryColor, v.$sectionTitleSize);
                }
                .button {
                    @include defaultButton;
                }
            }
        }
        .ind-services {
            @include flexCenter(50px, 0px);
            align-content: flex-start;
            flex-wrap: wrap;
            gap: v.$flexGap v.$flexGap;
            align-items: flex-start;
            article .art-button {
                @include aritcleButton;
            }
            article:nth-of-type(1) {
                @include articleService('https://plus.unsplash.com/premium_photo-1661909058836-f81511ec8825?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            }
            article:nth-of-type(2) {
                @include articleService('https://images.unsplash.com/photo-1678532685208-54acdd41187d?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
            }
            article:nth-of-type(3) {
                @include articleService('https://images.unsplash.com/photo-1548945359-6a13700d1135?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            }
            article:nth-of-type(4) {
                @include articleService('https://images.unsplash.com/photo-1564182842834-681b7be6de4b?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            }
        }
    }

    .industry-info {
        padding: null v.$paddingMainWidth;

        .ind-info-base {
            @include flexCenter(null, null);
            flex-wrap: wrap ;
            align-items: stretch;
            gap: v.$flexGap v.$flexGap;
            margin-top: -60px;
            .ind-info-video {
                flex-basis: 500px;
                flex-grow: 1;
                display: flex;
                video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                /*
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-image: linear-gradient(
                        to top, v.$firstPrimaryColor 40%, transparent
                    );
                    opacity: 0.5;
                    z-index: 2;
                }*/

                #mute-unmute-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    filter: blur(10px);
                    cursor: pointer;
                    color: v.$primayFontColor;
                    width: 40px;
                    height: 40px;
                    border: 1px solid v.$primayFontColor;
                    //position: absolute;
                    z-index: 1;
                }
            }

            .ind-info-header {
                padding: v.$paddingBoxHeight + 30 0 v.$paddingBoxWidth + 30 0;
                flex-basis: 500px;
                flex-grow: 1;
                h5 {
                    @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
                }
                .ind-info-head-title {
                    h3 {
                        @include sectionTitle(v.$firstPrimaryColor, v.$sectionTitleSize);
                    }
                    p {
                        @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
                        text-transform: none; 
                    }
                }
                .ind-info-list {
                    @include flexCenter(20px, null);
                    justify-content: flex-start;
                    gap: 40px;
                }
                .ind-info-more {
                    @include flexCenter(20px, null);
                    button {
                        @include defaultButton;
                    }
                    .ind-info-more-call {
                        color: v.$firstPrimaryColor;
                    }
                }
            }
        }
    }
}