@use "./variables" as v;
@use "./mixins" as *;

.service {
    .page-header {
        background-image: url("https://plus.unsplash.com/premium_photo-1664298475896-230e7b2c0ddf?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
}

.serv-container {
    padding: 100px 50px;

    .serv-header {
        text-align: center;
        h5 {
            @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
        }
        h3 {
            @include sectionTitle(v.$firstPrimaryColor, v.$sectionTitleSize);
        }
    }

    .serv-content {
        @include flexCenter(0px, 0px);
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 50px;

        article:nth-of-type(1) {
            background-image: url("https://plus.unsplash.com/premium_photo-1661952448084-c8ff11cc973f?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            flex-grow: 2;
        }
        article:nth-of-type(2) {
            background-image: url("https://plus.unsplash.com/premium_photo-1661962521243-09290d8f211b?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            flex-grow: 1;
        }
        article:nth-of-type(3) {
            background-image: url("https://plus.unsplash.com/premium_photo-1681989499499-08e1c05569c5?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            flex-grow: 0;
        }
        article:nth-of-type(4) {
            background-image: url("https://plus.unsplash.com/premium_photo-1661577094877-725f859aff3e?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            flex-grow: 2;
        }
        article:nth-of-type(5) {
            background-image: url("https://plus.unsplash.com/premium_photo-1681989488343-802c4946eeae?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            flex-grow: 1;
        }
        article:nth-of-type(6) {
            background-image: url("https://images.unsplash.com/photo-1504307651254-35680f356dfd?q=80&w=3276&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            flex-grow: 1;
        }
        article:nth-of-type(7) {
            background-image: url("https://images.unsplash.com/photo-1626885930974-4b69aa21bbf9?q=80&w=3146&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            flex-grow: 2;
        }
        article:nth-of-type(8) {
            background-image: url("https://plus.unsplash.com/premium_photo-1663011383177-8915a87ce5f2?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            flex-grow: 1;
        }
        article:nth-of-type(9) {
            background-image: url("https://images.unsplash.com/photo-1580810734915-93a368ed2073?q=80&w=3135&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            flex-grow: 1;
        }

        article {
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
            display: flex;
            align-items: flex-end;
            padding: v.$paddingBoxWidth;
            flex-basis: 500px;

            .serv-art-info {
                @include flexCenter(v.$paddingMainWidth, v.$paddingMainWidth);
                align-items: flex-start;
                background-color: v.$secondPrimaryColor;
                flex-grow: 1;

                .serv-art-content {
                    width: 75%;
                    h4 a {
                        @include textCase(v.$firstPrimaryColor, 1.3em);
                        text-transform: none;
                        font-weight: bold;
                    }
                    p {
                        @include textCase(v.$firstPrimaryColor, v.$h5FontSize);
                        text-transform: none;
                        display: none;
                    };
                }
            }

            &:hover {
                .serv-art-info {
                    .serv-art-content {
                        p {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}