////////////////////////////////
/// Font color
////////////////////////////////
$firstPrimaryColor: #023b4a;
$secondPrimaryColor: #f7c600;
$primayFontColor: white;
////////////////////////////////
/// Font Size
////////////////////////////////
$navFontSize: .8em;
$h5FontSize: 1em;
$sectionTitleSize: 2.5em;
////////////////////////////////
/// Animation
////////////////////////////////
$offset: .4rem;
$negOffeset: -$offset;
$transition: .3s;
////////////////////////////////
/// Border position
////////////////////////////////
$paddingBoxHeight: 25px;
$paddingBoxWidth: 10px;
$paddingMainHeight: 100px; 
$paddingMainWidth: 20px; 
////////////////////////////////
/// Flex attribute
////////////////////////////////
$flexGap: 20px;