////////////////////////////////
/// Font color
////////////////////////////////
$firstPrimaryColor: #0C2359;
$secondPrimaryColor: #F09948;
$primayFontColor: white;
////////////////////////////////
/// Font Size
////////////////////////////////
$navFontSize: .8em;
$h5FontSize: 1em;
$sectionTitleSize: 2.5em;
$pageTitleSize: 3em;
////////////////////////////////
/// Animation
////////////////////////////////
$offset: .4rem;
$negOffeset: -$offset;
$transition: .5s;
$backgroundopacity: .94;
////////////////////////////////
/// Border position
////////////////////////////////
$paddingBoxHeight: 25px;
$paddingBoxWidth: 10px;
$paddingMainHeight: 50px;
$paddingMainWidth: 20px; 
////////////////////////////////
/// Flex attribute
////////////////////////////////
$flexGap: 20px;