.header-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  background-color: #F09948;
}
.header-social .header-social-media .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  gap: 20px;
}
.header-social .header-social-media .nav .nav-link {
  color: white;
  background-color: #0C2359;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 7px;
  justify-content: center;
  background-color: #0C2359;
  border-radius: 100%;
  border: 1px solid #0C2359;
}
.header-social .header-social-media .nav .nav-link:hover {
  color: #0C2359;
  background-color: #F09948;
}
.header-social .header-social-media .nav .nav-link i {
  font-size: 0.8em;
}
.header-social .header-social-info a {
  color: #0C2359;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10px;
  background-color: #0C2359;
  flex-wrap: wrap;
  color: white;
}
.header .mian-nav .nav .nav-item .nav-link {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 0.8em;
}
.header .mian-nav .nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F09948;
  z-index: -1;
  transition: all 0.8s ease;
}
.header .mian-nav .nav .nav-item .nav-link:hover {
  color: #F09948;
}
.header .mian-nav .nav .nav-item .nav-link:hover::before {
  width: 100%;
  opacity: 1;
}
.header .mian-nav .nav .nav-item .nav-link span {
  font-weight: lighter;
  margin-left: 10px;
}
.header .logo img {
  height: 50px;
  cursor: pointer;
}
.header .logo h1 {
  color: white;
  font-size: 24px;
}
.header .header-search-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  gap: 40px;
}
.header .header-search-menu .search-icon button {
  all: unset;
}
.header .header-search-menu .search-icon button i {
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.header .header-search-menu .search-icon button i:hover {
  color: #F09948;
}
.header .header-search-menu .header-button .button {
  color: #0C2359;
  background-color: #F09948;
  border: 1px solid #F09948;
  cursor: pointer;
  padding: 0.6rem 1.6rem;
  position: relative;
  font-weight: bolder;
  flex-shrink: unset;
  flex-basis: auto;
}
.header .header-search-menu .header-button .button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.5s ease;
  z-index: 1;
  border: 1px solid #F09948;
}
.header .header-search-menu .header-button .button::after {
  top: 0.4rem;
  left: 0.4rem;
}
.header .header-search-menu .header-button .button:hover::after {
  top: -0.4rem;
  left: -0.4rem;
  bottom: 0;
  right: 0;
}
.header .header-search-menu .menu button {
  all: unset;
  margin-right: 20px;
}
.header .header-search-menu .menu button i {
  font-size: 24px;
  color: white;
}

/*
.main-slider {
    height: 90vh;
    position: relative;

    .list {

        .item {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: v.$firstPrimaryColor;
                opacity: 60%;
            }

            .content {
                //position: absolute;
                text-align: left;
                @include flexCenter(v.$paddingMainWidth, 0px);
                justify-content: flex-start;
                //flex-wrap: wrap;
                gap: 40px;
                //top: 20%;
                z-index: 1;
                color: v.$primayFontColor;

                .content-title {
                    width: 50%;

                    h5 {
                        font-size: v.$h5FontSize;
                        //color: v.$primayFontColor;
                    }
                    h2 {
                        font-size: 5em;
                    }
                    button {
                        @include defaultButton;
                        z-index: 10;
                        margin-top: 50px;
                    }
                }

                .paragraph {
                    flex-basis: 300px;
                    flex-grow: 1;
                    max-width: 34%;
                }
            }
        }
    }
}
*/
.about-company {
  background: url("../images/premium_photo-1667811951673-3b3e8d6742c7.avif");
}
.about-company .hidden-element {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease;
}
.about-company .show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.about-company .about-comp {
  background-color: #0C2359;
  opacity: 0.94;
  text-transform: uppercase;
  color: white;
  padding: 100px 20px;
}
.about-company .about-comp .about-comp-des h5 {
  font-size: 1em;
}
.about-company .about-comp .about-comp-des p {
  font-size: 3.2em;
  font-weight: bold;
  text-transform: none;
  font-stretch: expanded;
}
.about-company .about-comp .about-comp-stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  margin-top: 100px;
}
.about-company .about-comp .about-comp-stat h4 {
  font-size: 4.3em;
}
.about-company .about-comp .about-comp-stat p {
  font-size: 1.2em;
}

.industry .industry-service {
  padding: 100px 20px;
}
.industry .industry-service .ind-header {
  color: #0C2359;
}
.industry .industry-service .ind-header h5 {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
}
.industry .industry-service .ind-header .ind-header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.industry .industry-service .ind-header .ind-header-title h3 {
  color: #0C2359;
  font-size: 2.5em;
  font-weight: bolder;
}
.industry .industry-service .ind-header .ind-header-title .button {
  color: #0C2359;
  background-color: #F09948;
  border: 1px solid #F09948;
  cursor: pointer;
  padding: 0.6rem 1.6rem;
  position: relative;
  font-weight: bolder;
  flex-shrink: unset;
  flex-basis: auto;
}
.industry .industry-service .ind-header .ind-header-title .button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.5s ease;
  z-index: 1;
  border: 1px solid #F09948;
}
.industry .industry-service .ind-header .ind-header-title .button::after {
  top: 0.4rem;
  left: 0.4rem;
}
.industry .industry-service .ind-header .ind-header-title .button:hover::after {
  top: -0.4rem;
  left: -0.4rem;
  bottom: 0;
  right: 0;
}
.industry .industry-service .ind-services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px 20px;
  align-items: flex-start;
}
.industry .industry-service .ind-services article .art-button {
  color: #0C2359;
  background-color: #F09948;
  border: 1px solid #F09948;
  cursor: pointer;
  padding: 20px 25px;
  position: relative;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 1;
}
.industry .industry-service .ind-services article .art-button::after {
  content: "---->";
  position: absolute;
  background-color: transparent;
  z-index: 1;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s ease;
  margin-left: 10px;
  font-weight: lighter;
}
.industry .industry-service .ind-services article .art-button:hover::after {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.industry .industry-service .ind-services article:nth-of-type(1) {
  background-image: url("https://plus.unsplash.com/premium_photo-1661909058836-f81511ec8825?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  background-position: center;
  padding: 10px;
  flex-grow: 1;
  min-height: 450px;
  flex-basis: 350px;
}
.industry .industry-service .ind-services article:nth-of-type(2) {
  background-image: url("https://images.unsplash.com/photo-1678532685208-54acdd41187d?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  background-position: center;
  padding: 10px;
  flex-grow: 1;
  min-height: 450px;
  flex-basis: 350px;
}
.industry .industry-service .ind-services article:nth-of-type(3) {
  background-image: url("https://images.unsplash.com/photo-1548945359-6a13700d1135?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  background-position: center;
  padding: 10px;
  flex-grow: 1;
  min-height: 450px;
  flex-basis: 350px;
}
.industry .industry-service .ind-services article:nth-of-type(4) {
  background-image: url("https://images.unsplash.com/photo-1564182842834-681b7be6de4b?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  background-position: center;
  padding: 10px;
  flex-grow: 1;
  min-height: 450px;
  flex-basis: 350px;
}
.industry .industry-info {
  padding: 20px;
}
.industry .industry-info .ind-info-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px 20px;
  margin-top: -60px;
}
.industry .industry-info .ind-info-base .ind-info-video {
  flex-basis: 500px;
  flex-grow: 1;
  display: flex;
  /*
  &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(
          to top, v.$firstPrimaryColor 40%, transparent
      );
      opacity: 0.5;
      z-index: 2;
  }*/
}
.industry .industry-info .ind-info-base .ind-info-video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.industry .industry-info .ind-info-base .ind-info-video #mute-unmute-button {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(10px);
  cursor: pointer;
  color: white;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  z-index: 1;
}
.industry .industry-info .ind-info-base .ind-info-header {
  padding: 55px 0 40px 0;
  flex-basis: 500px;
  flex-grow: 1;
}
.industry .industry-info .ind-info-base .ind-info-header h5 {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
}
.industry .industry-info .ind-info-base .ind-info-header .ind-info-head-title h3 {
  color: #0C2359;
  font-size: 2.5em;
  font-weight: bolder;
}
.industry .industry-info .ind-info-base .ind-info-header .ind-info-head-title p {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
  text-transform: none;
}
.industry .industry-info .ind-info-base .ind-info-header .ind-info-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  justify-content: flex-start;
  gap: 40px;
}
.industry .industry-info .ind-info-base .ind-info-header .ind-info-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.industry .industry-info .ind-info-base .ind-info-header .ind-info-more .button {
  color: #0C2359;
  background-color: #F09948;
  border: 1px solid #F09948;
  cursor: pointer;
  padding: 0.6rem 1.6rem;
  position: relative;
  font-weight: bolder;
  flex-shrink: unset;
  flex-basis: auto;
}
.industry .industry-info .ind-info-base .ind-info-header .ind-info-more .button i {
  margin-right: 5px;
}
.industry .industry-info .ind-info-base .ind-info-header .ind-info-more .button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.5s ease;
  z-index: 1;
  border: 1px solid #F09948;
}
.industry .industry-info .ind-info-base .ind-info-header .ind-info-more .button::after {
  top: 0.4rem;
  left: 0.4rem;
}
.industry .industry-info .ind-info-base .ind-info-header .ind-info-more .button:hover::after {
  top: -0.4rem;
  left: -0.4rem;
  bottom: 0;
  right: 0;
}
.industry .industry-info .ind-info-base .ind-info-header .ind-info-more .ind-info-more-call {
  color: #0C2359;
}

.team {
  padding: 100px 20px;
}
.team .team-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  flex-wrap: wrap;
}
.team .team-header .team-header-title {
  width: 550px;
}
.team .team-header .team-header-title h5 {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
}
.team .team-header .team-header-title h3 {
  color: #0C2359;
  font-size: 2.5em;
  font-weight: bolder;
}
.team .team-header .team-header-desc {
  width: 650px;
}
.team .team-header .team-header-desc .team-desc-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  gap: 2px;
}
.team .team-header .team-header-desc .team-desc-button button {
  background-color: #0C2359;
  color: white;
  padding: 0.9rem 1.6rem;
  position: relative;
  font-weight: bolder;
  text-align: center;
  border: none;
  flex-grow: 1;
}
.team .team-header .team-header-desc .team-desc-button button:hover {
  background-color: #F09948;
  color: #0C2359;
  transition: 0.5s;
}
.team .team-header .team-header-desc .team-desc-button .active {
  background-color: #F09948;
  color: #0C2359;
}
.team .team-header .team-header-desc .team-desc-text {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
  text-transform: none;
  margin-top: 40px;
}
.team .team-members {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.team .team-members .team-member {
  width: 350px;
  height: 500px;
}
.team .team-members .team-member .team-member-img img {
  width: 100%;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.team .team-members .team-member .team-member-img .team-member-social {
  position: absolute;
  width: 350px;
  margin-top: -60px;
  background-color: #F09948;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  justify-content: center;
  gap: 20px;
}
.team .team-members .team-member .team-member-img .team-member-social a {
  color: #0C2359;
  font-size: 1em;
}
.team .team-members .team-member .team-member-img .team-member-social a:hover {
  opacity: 0.4;
  transition: 0.5s;
}
.team .team-members .team-member .team-member-info {
  text-align: center;
  padding-top: 10px;
}
.team .team-members .team-member .team-member-info h5 {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
}
.team .team-members .team-member .team-member-info h4 {
  color: #0C2359;
  font-size: 1.6em;
  font-weight: bolder;
  text-transform: none;
}

.footer-newsletter {
  padding: 0px 20px;
  margin-bottom: -12%;
  margin-top: 50px;
  z-index: 1;
  position: relative;
}
.footer-newsletter .footer-newsletter-container {
  background-image: url("../images/premium_photo-1667811951673-3b3e8d6742c7.avif");
  margin: auto;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content {
  background: rgba(12, 35, 89, 0.94);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-head {
  text-align: center;
  width: 600px;
  margin-bottom: 20px;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-head h5 {
  text-transform: uppercase;
  color: white;
  font-size: 1em;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-head h3 {
  color: white;
  font-size: 2.5em;
  font-weight: bolder;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-head p {
  text-transform: uppercase;
  color: white;
  font-size: 1em;
  text-transform: none;
  padding: 0px 50px;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-form input {
  height: 50px;
  color: #0C2359;
  padding: 10px;
  border: 1px solid rgba(12, 35, 89, 0.3);
  outline: none;
  flex-basis: 350px;
  flex-shrink: 1;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-form input:focus {
  border-color: #F09948;
  transition: 0.5s;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-form button {
  color: #0C2359;
  background-color: #F09948;
  border: 1px solid #F09948;
  cursor: pointer;
  padding: 0.6rem 1.6rem;
  position: relative;
  font-weight: bolder;
  flex-shrink: unset;
  flex-basis: auto;
  flex-basis: 350px;
  height: 50px;
  flex-shrink: 1;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-form button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.5s ease;
  z-index: 1;
  border: 1px solid #F09948;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-form button::after {
  top: 0.4rem;
  left: 0.4rem;
}
.footer-newsletter .footer-newsletter-container .footer-newsletter-content .footer-newsletter-form button:hover::after {
  top: -0.4rem;
  left: -0.4rem;
  bottom: 0;
  right: 0;
}

footer {
  background-image: url("https://plus.unsplash.com/premium_photo-1661899566960-942b158bab49?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}
footer .footer-container {
  background: rgba(240, 153, 72, 0.94);
  width: 100%;
  height: 100%;
  padding: 15% 20px;
}
footer .footer-container .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 90px;
  color: #0C2359;
}
footer .footer-container .footer-content h5 {
  text-transform: uppercase;
  font-size: 1em;
  text-transform: none;
  font-weight: bold;
}
footer .footer-container .footer-content ul {
  margin-top: 20px;
}
footer .footer-container .footer-content ul li {
  margin-bottom: 15px;
}
footer .footer-container .footer-content ul li a {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
  text-transform: none;
}
footer .footer-container .footer-content ul li a:hover {
  opacity: 0.5;
  transition: 0.5s;
}
footer .footer-container .footer-content .footer-comp-des {
  flex-basis: 300px;
}
footer .footer-container .footer-content .footer-comp-des a {
  width: 220px;
}
footer .footer-container .footer-content .footer-comp-des a img {
  height: 50px;
  cursor: pointer;
}
footer .footer-container .footer-content .footer-comp-des a h1 {
  color: #0C2359;
  font-size: 24px;
}
footer .footer-container .footer-content .footer-comp-des p {
  text-transform: uppercase;
  font-size: 1em;
  text-transform: none;
  margin-top: 20px;
}
footer .footer-container .footer-content .footer-services, footer .footer-container .footer-content .footer-info {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 150px;
}
footer .footer-container .footer-content .footer-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 500px;
  flex-wrap: wrap;
  gap: 50px;
}
footer .footer-container .footer-content .footer-contact ul {
  list-style-type: none;
  padding-left: 0px;
}
footer .footer-container .footer-content .footer-contact .footer-cont-location {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
}
footer .footer-container .footer-content .footer-contact .footer-cont-location p {
  margin-top: 30px;
}
footer .footer-container .footer-content .footer-contact .footer-cont-social ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  align-items: flex-start;
  gap: 10px;
}
footer .footer-container .footer-content .footer-contact .footer-cont-social ul .nav-link {
  color: white;
  background-color: #0C2359;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 7px;
  justify-content: center;
  background-color: #0C2359;
  border-radius: 100%;
  border: 1px solid #0C2359;
}
footer .footer-container .footer-content .footer-contact .footer-cont-social ul .nav-link:hover {
  color: #0C2359;
  background-color: #F09948;
}
footer .footer-container .footer-content .footer-contact .footer-cont-social ul .nav-link i {
  font-size: 0.8em;
}
footer .footer-container .footer-copyright {
  text-align: center;
  border-top: 1px solid rgba(12, 35, 89, 0.2);
  padding-top: 20px;
  margin-top: 50px;
  color: #0C2359;
}

.contact .page-header {
  background-image: url("https://plus.unsplash.com/premium_photo-1677707394493-09962b13b675?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.cont-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
}
.cont-container .cont-content {
  padding: 70px;
}
.cont-container .cont-content .cont-header h5 {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
}
.cont-container .cont-content .cont-header h3 {
  color: #0C2359;
  font-size: 2.5em;
  font-weight: bolder;
}
.cont-container .cont-content .cont-header p {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
  text-transform: none;
  font-stretch: wider;
}
.cont-container .cont-content .cont-form .cont-names {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  gap: 20px;
}
.cont-container .cont-content .cont-form .cont-names input {
  height: 50px;
  color: #0C2359;
  padding: 10px;
  border: 1px solid rgba(12, 35, 89, 0.3);
  outline: none;
  flex-shrink: 1;
  flex-grow: 1;
}
.cont-container .cont-content .cont-form .cont-names input:focus {
  border-color: #F09948;
  transition: 0.5s;
}
.cont-container .cont-content .cont-form .cont-form-elec {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  gap: 20px;
}
.cont-container .cont-content .cont-form .cont-form-elec input {
  height: 50px;
  color: #0C2359;
  padding: 10px;
  border: 1px solid rgba(12, 35, 89, 0.3);
  outline: none;
  flex-shrink: 1;
  flex-grow: 1;
}
.cont-container .cont-content .cont-form .cont-form-elec input:focus {
  border-color: #F09948;
  transition: 0.5s;
}
.cont-container .cont-content .cont-form textarea {
  margin-top: 20px;
  height: 50px;
  color: #0C2359;
  padding: 10px;
  border: 1px solid rgba(12, 35, 89, 0.3);
  outline: none;
  height: 200px;
  width: 100%;
  flex-shrink: 1;
  flex-grow: 1;
  resize: none;
}
.cont-container .cont-content .cont-form textarea:focus {
  border-color: #F09948;
  transition: 0.5s;
}
.cont-container .cont-content .cont-form button {
  margin-top: 20px;
  color: #0C2359;
  background-color: #F09948;
  border: 1px solid #F09948;
  cursor: pointer;
  padding: 0.6rem 1.6rem;
  position: relative;
  font-weight: bolder;
  flex-shrink: unset;
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;
  bottom: 0px;
}
.cont-container .cont-content .cont-form button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.5s ease;
  z-index: 1;
  border: 1px solid #F09948;
}
.cont-container .cont-content .cont-form button::after {
  top: 0.4rem;
  left: 0.4rem;
}
.cont-container .cont-content .cont-form button:hover::after {
  top: -0.4rem;
  left: -0.4rem;
  bottom: 0;
  right: 0;
}
.cont-container .cont-content {
  width: 50%;
}
.cont-container .cont-video {
  flex-grow: 1;
  width: 50%;
  height: 97vh;
}
.cont-container .cont-video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  flex-wrap: wrap;
}
.contact-information .cont-location, .contact-information .cont-phone, .contact-information .cont-mail, .contact-information .cont-hours {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  justify-content: flex-start;
  flex-basis: 500px;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 20px;
  height: 80px;
  margin-top: 50px;
}
.contact-information .cont-location .cont-loc-icon, .contact-information .cont-location .cont-phone-icon, .contact-information .cont-location .cont-mail-icon, .contact-information .cont-location .cont-hours-icon, .contact-information .cont-phone .cont-loc-icon, .contact-information .cont-phone .cont-phone-icon, .contact-information .cont-phone .cont-mail-icon, .contact-information .cont-phone .cont-hours-icon, .contact-information .cont-mail .cont-loc-icon, .contact-information .cont-mail .cont-phone-icon, .contact-information .cont-mail .cont-mail-icon, .contact-information .cont-mail .cont-hours-icon, .contact-information .cont-hours .cont-loc-icon, .contact-information .cont-hours .cont-phone-icon, .contact-information .cont-hours .cont-mail-icon, .contact-information .cont-hours .cont-hours-icon {
  background-color: #F09948;
  width: 80px;
  height: 80px;
  font-size: 2.5em;
  color: #0C2359;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-information .cont-location .cont-loc-info, .contact-information .cont-location .cont-phone-info, .contact-information .cont-location .cont-mail-info, .contact-information .cont-location .cont-hours-info, .contact-information .cont-phone .cont-loc-info, .contact-information .cont-phone .cont-phone-info, .contact-information .cont-phone .cont-mail-info, .contact-information .cont-phone .cont-hours-info, .contact-information .cont-mail .cont-loc-info, .contact-information .cont-mail .cont-phone-info, .contact-information .cont-mail .cont-mail-info, .contact-information .cont-mail .cont-hours-info, .contact-information .cont-hours .cont-loc-info, .contact-information .cont-hours .cont-phone-info, .contact-information .cont-hours .cont-mail-info, .contact-information .cont-hours .cont-hours-info {
  width: 45%;
  height: 80px;
}
.contact-information .cont-location .cont-loc-info h5, .contact-information .cont-location .cont-phone-info h5, .contact-information .cont-location .cont-mail-info h5, .contact-information .cont-location .cont-hours-info h5, .contact-information .cont-phone .cont-loc-info h5, .contact-information .cont-phone .cont-phone-info h5, .contact-information .cont-phone .cont-mail-info h5, .contact-information .cont-phone .cont-hours-info h5, .contact-information .cont-mail .cont-loc-info h5, .contact-information .cont-mail .cont-phone-info h5, .contact-information .cont-mail .cont-mail-info h5, .contact-information .cont-mail .cont-hours-info h5, .contact-information .cont-hours .cont-loc-info h5, .contact-information .cont-hours .cont-phone-info h5, .contact-information .cont-hours .cont-mail-info h5, .contact-information .cont-hours .cont-hours-info h5 {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
  text-transform: none;
  font-weight: bolder;
}
.contact-information .cont-location .cont-loc-info p, .contact-information .cont-location .cont-phone-info p, .contact-information .cont-location .cont-mail-info p, .contact-information .cont-location .cont-hours-info p, .contact-information .cont-phone .cont-loc-info p, .contact-information .cont-phone .cont-phone-info p, .contact-information .cont-phone .cont-mail-info p, .contact-information .cont-phone .cont-hours-info p, .contact-information .cont-mail .cont-loc-info p, .contact-information .cont-mail .cont-phone-info p, .contact-information .cont-mail .cont-mail-info p, .contact-information .cont-mail .cont-hours-info p, .contact-information .cont-hours .cont-loc-info p, .contact-information .cont-hours .cont-phone-info p, .contact-information .cont-hours .cont-mail-info p, .contact-information .cont-hours .cont-hours-info p {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
  text-transform: none;
}
.contact-information .cont-location .cont-loc-info ul, .contact-information .cont-location .cont-loc-info ul li, .contact-information .cont-location .cont-phone-info ul, .contact-information .cont-location .cont-phone-info ul li, .contact-information .cont-location .cont-mail-info ul, .contact-information .cont-location .cont-mail-info ul li, .contact-information .cont-location .cont-hours-info ul, .contact-information .cont-location .cont-hours-info ul li, .contact-information .cont-phone .cont-loc-info ul, .contact-information .cont-phone .cont-loc-info ul li, .contact-information .cont-phone .cont-phone-info ul, .contact-information .cont-phone .cont-phone-info ul li, .contact-information .cont-phone .cont-mail-info ul, .contact-information .cont-phone .cont-mail-info ul li, .contact-information .cont-phone .cont-hours-info ul, .contact-information .cont-phone .cont-hours-info ul li, .contact-information .cont-mail .cont-loc-info ul, .contact-information .cont-mail .cont-loc-info ul li, .contact-information .cont-mail .cont-phone-info ul, .contact-information .cont-mail .cont-phone-info ul li, .contact-information .cont-mail .cont-mail-info ul, .contact-information .cont-mail .cont-mail-info ul li, .contact-information .cont-mail .cont-hours-info ul, .contact-information .cont-mail .cont-hours-info ul li, .contact-information .cont-hours .cont-loc-info ul, .contact-information .cont-hours .cont-loc-info ul li, .contact-information .cont-hours .cont-phone-info ul, .contact-information .cont-hours .cont-phone-info ul li, .contact-information .cont-hours .cont-mail-info ul, .contact-information .cont-hours .cont-mail-info ul li, .contact-information .cont-hours .cont-hours-info ul, .contact-information .cont-hours .cont-hours-info ul li {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
  text-transform: none;
  list-style-type: none;
  padding-left: 0px;
}

.google-map {
  padding: 20px;
}
.google-map iframe {
  width: 100%;
  height: 500px;
}

.service .page-header {
  background-image: url("https://plus.unsplash.com/premium_photo-1664298475896-230e7b2c0ddf?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.serv-container {
  padding: 100px 50px;
}
.serv-container .serv-header {
  text-align: center;
}
.serv-container .serv-header h5 {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
}
.serv-container .serv-header h3 {
  color: #0C2359;
  font-size: 2.5em;
  font-weight: bolder;
}
.serv-container .serv-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}
.serv-container .serv-content article:nth-of-type(1) {
  background-image: url("https://plus.unsplash.com/premium_photo-1661952448084-c8ff11cc973f?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  flex-grow: 2;
}
.serv-container .serv-content article:nth-of-type(2) {
  background-image: url("https://plus.unsplash.com/premium_photo-1661962521243-09290d8f211b?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  flex-grow: 1;
}
.serv-container .serv-content article:nth-of-type(3) {
  background-image: url("https://plus.unsplash.com/premium_photo-1681989499499-08e1c05569c5?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  flex-grow: 0;
}
.serv-container .serv-content article:nth-of-type(4) {
  background-image: url("https://plus.unsplash.com/premium_photo-1661577094877-725f859aff3e?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  flex-grow: 2;
}
.serv-container .serv-content article:nth-of-type(5) {
  background-image: url("https://plus.unsplash.com/premium_photo-1681989488343-802c4946eeae?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  flex-grow: 1;
}
.serv-container .serv-content article:nth-of-type(6) {
  background-image: url("https://images.unsplash.com/photo-1504307651254-35680f356dfd?q=80&w=3276&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  flex-grow: 1;
}
.serv-container .serv-content article:nth-of-type(7) {
  background-image: url("https://images.unsplash.com/photo-1626885930974-4b69aa21bbf9?q=80&w=3146&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  flex-grow: 2;
}
.serv-container .serv-content article:nth-of-type(8) {
  background-image: url("https://plus.unsplash.com/premium_photo-1663011383177-8915a87ce5f2?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  flex-grow: 1;
}
.serv-container .serv-content article:nth-of-type(9) {
  background-image: url("https://images.unsplash.com/photo-1580810734915-93a368ed2073?q=80&w=3135&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  flex-grow: 1;
}
.serv-container .serv-content article {
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  flex-basis: 500px;
}
.serv-container .serv-content article .serv-art-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: flex-start;
  background-color: #F09948;
  flex-grow: 1;
}
.serv-container .serv-content article .serv-art-info .serv-art-content {
  width: 75%;
}
.serv-container .serv-content article .serv-art-info .serv-art-content h4 a {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1.3em;
  text-transform: none;
  font-weight: bold;
  margin-top: 10px;
}
.serv-container .serv-content article .serv-art-info .serv-art-content h4 a:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.serv-container .serv-content article .serv-art-info .serv-art-content p {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
  text-transform: none;
  display: none;
}
.serv-container .serv-content article .serv-art-info button {
  border: 1px solid #0C2359;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background: none;
  color: #0C2359;
}
.serv-container .serv-content article .serv-art-info button:hover {
  background-color: #0C2359;
  border: 1px solid #0C2359;
  transition: all 0.7s ease;
}
.serv-container .serv-content article .serv-art-info button:hover {
  color: #F09948;
}
.serv-container .serv-content article:hover .serv-art-info .serv-art-content p {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  color: white;
}

.main-slider .list .item.active {
  opacity: 1;
  z-index: 10;
}

.main-slider .thumnail .item.active {
  filter: brightness(1);
}

.page-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}
.page-header .page-header-container {
  background: rgba(240, 153, 72, 0.94);
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  height: 35vh;
}
.page-header .page-header-container .page-header-content h3 {
  color: #0C2359;
  font-size: 3em;
  font-weight: bolder;
}
.page-header .page-header-container .page-header-content ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  justify-content: center;
  gap: 20px;
}
.page-header .page-header-container .page-header-content ul li, .page-header .page-header-container .page-header-content ul a {
  text-transform: uppercase;
  color: #0C2359;
  font-size: 1em;
  text-transform: none;
  list-style-type: none;
}
.page-header .page-header-container .page-header-content ul li a:hover, .page-header .page-header-container .page-header-content ul a a:hover {
  color: white;
  transition: 0.7s;
}
.page-header .page-header-container .page-header-content ul li:nth-of-type(2) {
  padding-left: 20px;
  border-left: 2px solid #0C2359;
}/*# sourceMappingURL=style.css.map */