@use "./header";
@use "./variables" as v;
@use "./mixins" as *;
@use "./main";

* {
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    @include flexCenter(0px, 0px);
    color: v.$primayFontColor;
}


